.contact-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.contact-list ul {
    padding: 0;
}

.contact-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: var(--clr1bg);
    padding: 8px 15px;
    margin: 0.5em;
}